/* .container {
  border: 3px solid red;
  max-width: 1200px;
} */

/* section {
  margin-bottom: 120px;
} */

/* .cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
} */


:root {
  --header-font-family: "Cinzel Decorative", serif;
  --text-font-family: "Bona Nova", serif;
}


.hero-section {
  /* background-color: blue; */
}

.container {
  max-width: 1488px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p, input, button {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.25rem;
  margin-bottom: 0;
  /* margin-bottom: 1rem; */
}


/* ---------- Navbar ---------- */
nav .container {
  padding: 2rem 0;
}

.business-logo {
  font-family: var(--header-font-family);
  font-size: 3rem;
  font-weight: 700;
  padding-right: 2rem;
}

nav button {
  /* border: 3px solid red; */
  border: 0px;
  color: white;
  border-radius: 40px;
  padding: 0.5rem 3rem;
}