/* .container {
  border: 3px solid red;
  max-width: 1200px;
} */

/* section {
  margin-bottom: 120px;
} */

/* .cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
} */


:root {
  --header-font-family: "Cinzel Decorative", serif;
  --text-font-family: "Bona Nova", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.hero-section {
  /* background-color: blue; */
}

.container {
  /* max-width: 1488px; */
  max-width: unset;
  width: 100%;
  padding: 0 7.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
  /* line-height: 1.50; */
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p, a, input, button {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-size: 1.25rem;
  margin-bottom: 0;
  /* margin-bottom: 1rem; */
}


/* ---------- Navbar ---------- */
nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav .container {
  /* padding: 2rem 0; */
  /* margin: 0; */
  padding: 2rem 7.5rem;
}

.business-logo {
  font-family: var(--header-font-family);
  font-size: 3rem;
  font-weight: 700;
  padding-right: 2rem;
}

nav a {
  background-color: #000;
  font-size: 1rem;
  border: 0px;
  color: #fff;
  border-radius: 40px;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: all 0.2s;
}

nav a:hover {
  background-color: #fff;
  color: #000;
}


/* ---------- Hero section ---------- */
.hero-section {
  /* background image fade effect:  https://www.w3schools.com/css/css3_gradients.asp#:~:text=Using%20Transparency,full%20color%20(no%20transparency). */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, white 99%), url("./assets/images/hero-image.jpg");
  padding-top: 136px;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: top;
}

.hero-section-inner-container {
  width: 60%;
}

.hero-section h1 {
  margin-bottom: 2rem;
}

.hero-section .subheader {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-section ul {
  list-style-type: none;
  padding-left: 0;
}

.hero-section span {
  font-weight: bold;
}

.learn-more {
  color: #000;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  position: relative;
  top: 5rem;
}


.learn-more-text {
  position: relative;
  top: 1rem;
}

.down-chevron {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* ---------- Section spacing ---------- */
.choose-us-section, .our-services-section, .contact-us-section {
  margin-top: 6.25rem;
}

/* ---------- Contact us section ---------- */
.contact-us-section {
  margin-bottom: 6.25rem;
}

