:root {
  --header-font-family: "Cinzel Decorative", serif;
  --text-font-family: "Bona Nova", serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.25rem;
}

body {
  position: relative;
}

.container {
  max-width: unset;
  padding: 0 7.5rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p, a, input, button, li, figcaption, textarea {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
}

p, a, li {
  font-size: 1.25rem;
  margin-bottom: 0;
}

/* --------------------------------------------------------------------
                                  Navbar
-------------------------------------------------------------------- */
nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav .container {
  padding: 2rem 7.5rem;
}

.business-logo {
  font-family: var(--header-font-family);
  font-size: 3rem;
  font-weight: 700;
  padding-right: 2rem;
}

nav a {
  background-color: #000;
  border: 0px;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  outline: 1px solid #000;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: all 0.2s;
}

nav a:hover {
  background-color: #fff;
  color: #000;
}

/* --------------------------------------------------------------------
                                  Hero section
-------------------------------------------------------------------- */
.hero-section {
  /* background image fade effect:  https://www.w3schools.com/css/css3_gradients.asp#:~:text=Using%20Transparency,full%20color%20(no%20transparency). */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #fff 99%), url("./assets/images/hero-image.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 10rem;
  min-height: 100vh;
  padding-top: 136px;
  position: relative;
}

.hero-section-inner-container {
  width: 60%;
}

.hero-section h1 {
  margin-bottom: 2rem;
}

.hero-section .subheader {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-section ul {
  list-style-type: none;
  padding-left: 0;
}

.hero-section span {
  font-weight: bold;
}

.hero-section a {
  color: #000;
}

.learn-more {
  color: #000;
  font-style: normal;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  top: 5rem;
}

.learn-more-text {
  position: relative;
  top: 1rem;
}

.down-chevron {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* ---------- Section spacing ---------- */
.choose-us-section, .our-services-section, .contact-us-section {
  margin-top: 6.25rem;
}

/* --------------------------------------------------------------------
                                Choose us
-------------------------------------------------------------------- */
.choose-us-section h2 {
  background-color: #fff;
  bottom: 3.5rem;
  margin: 0 auto;
  min-width: 600px;
  padding: 0 3rem;
  position: relative;
  text-align: center;
  width: fit-content;
}

.choose-us-section .text-container {
  border: 4px solid #000;
  padding-bottom: 5.25rem;
  padding-left: 15.6rem;
  padding-right: 15.6rem;
  padding-top: 1.5rem;
}

.choose-us-section .text-container p:nth-child(2) {
  margin-bottom: 3rem;
}

/* --------------------------------------------------------------------
                              Our services
-------------------------------------------------------------------- */
.our-services-section h2 {
  text-align: center;
  margin-bottom: 6.25rem;
}

.our-services-section .subsection {
  gap: 9rem;
}

.our-services-section h3 {
  margin-bottom: 2rem;
}

.our-services-section .text-container {
  width: 50%;
}

.subsection {
  margin-bottom: 7.5rem;
}

.subsection p {
  width: 75%;
}

.subsection .image-container {
  width: 50%;
  margin-bottom: 0;
}

.subsection img {
  box-shadow: 2px 2px 6px #d5d5d5;
  margin-bottom: 0.5rem;
  width: 100%;
}

.subsection figcaption, .subsection a {
  color: #d5d5d5;
  font-size: 12px;
}

.subsection figcaption.caption-right {
  text-align: right;
}

.subsection:nth-child(even) {
  flex-direction: row-reverse;
}

.subsection hr {
  margin-bottom: 40px;
}

/* --------------------------------------------------------------------
                                Contact us
-------------------------------------------------------------------- */
.contact-us-section {
  margin-bottom: 6.25rem;
}

.contact-us-section h2 {
  min-width: 390px;
  width: 40%;
}

.contact-us-section hr {
  margin-bottom: 0.5rem;
  margin-top: 0;
  width: 100%;
}

.contact-us-section .header-container {
  gap: 30px;
  margin-bottom: 2rem;
}

.contact-us-inner-container .text-container {
  width: 35%;
}

.contact-us-section ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-us-section span {
  font-weight: bold;
}

.contact-us-section a {
  color: #000;
}

.contact-us-section .text-container p {
  margin-bottom: 1.25rem;
}

/* Form submission message */
.form-container {
  position: relative;
  width: 55%;
}

/* hide form when a user submits a message so the success message can be displayed */
#contact-us-form.hide {
  /* display: none; */
  opacity: 0;
}

/* show form submit message */
.submit-message.active {
  font-size: 1rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
}


/* error message */
.error-message {
  color: red;
  font-size: 12px;
}

.error-message.hide {
  opacity: 0;
}

.contact-us-inner-container form {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.contact-us-inner-container form input, .contact-us-inner-container textarea {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 12px;
}

.contact-us-inner-container [id="referral"], .contact-us-inner-container [id="form-message"] {
  grid-column-end: 3;
  grid-column-start: 1;
}

.contact-us-section button {
  background-color: #000;
  border: 0px;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  max-width: 240px;
  outline: 1px solid #000;
  padding: 0.6rem 3rem;
  text-decoration: none;
  transition: all 0.2s;
  width: fit-content;
}

.contact-us-section button:hover {
  background-color: #fff;
  color: #000;
}

.contact-us-section button:focus {
  outline: 1px solid #000;
}

/* --------------------------------------------------------------------
                                  Footer
-------------------------------------------------------------------- */
footer {
  border-top: 1px solid #000;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

footer .contact-info {
  gap: 30px;
}

footer span, footer .attribution {
  color: #d5d5d5;
  font-size: 12px;
}

footer a {
  color: #000;
}

/* Media queries */
@media screen and (max-width: 1400px) {
  /* navbar */
  nav .container {
    padding: 2rem 4.5rem;
  }

  /* hero */
  .hero-section .container {
    padding: 0rem 4.5rem;
  }
}

@media screen and (max-width: 992px) {
  /* navbar */
  nav .container {
    padding: 2rem 3.75rem;
  }

  /* hero */
  .hero-section .container {
    padding: 0rem 3.75rem;
  }

  .hero-section-inner-container {
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    width: 80%;
  }

  .learn-more {
    position: static;
  }
}