:root {
  --header-font-family: "Cinzel Decorative", serif;
  --text-font-family: "Bona Nova", serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.25rem;
}

body {
  position: relative;
}

.container {
  max-width: unset;
  padding: 0 7.5rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p, a, input, button, li, figcaption, textarea {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
}

p, a, li {
  font-size: 1.25rem;
  margin-bottom: 0;
}

/* --------------------------------------------------------------------
                                  Navbar
-------------------------------------------------------------------- */
nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav .container {
  align-items: center;
  padding: 2rem 7.5rem;
}

.cherry-blossom {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
}

.cherry-blossom:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}


nav a[href="#contact-us"] {
  background-color: #000;
  border: 0px;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  outline: 1px solid #000;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: all 0.2s;
}

/* "sticky" hover effects:  https://www.geeksforgeeks.org/javascript/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices/ */
@media (hover:hover) and (pointer:fine) {
  nav a[href="#contact-us"]:hover {
    background-color: #fff;
    color: #000;
  }
}


/* --------------------------------------------------------------------
                                  Hero section
-------------------------------------------------------------------- */
.hero-section {
  /* background image fade effect:  https://www.w3schools.com/css/css3_gradients.asp#:~:text=Using%20Transparency,full%20color%20(no%20transparency). */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #fff 99%), url("./assets/images/hero-image.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 10rem;
  min-height: 100vh;
  padding-top: 136px;
  position: relative;
}

.hero-section-inner-container {
  width: 60%;
}

.hero-section h1 {
  margin-bottom: 2rem;
}

.hero-section .subheader {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-section ul {
  list-style-type: none;
  padding-left: 0;
}

.hero-section span {
  font-weight: bold;
}

.hero-section a {
  color: #000;
}

.learn-more {
  color: #000;
  font-style: normal;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  top: 5rem;
}

.learn-more-text {
  position: relative;
  top: 1rem;
}

.down-chevron {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* ---------- Section spacing ---------- */
.choose-us-section, .our-services-section, .contact-us-section {
  margin-top: 6.25rem;
}

/* --------------------------------------------------------------------
                                Choose us
-------------------------------------------------------------------- */
.choose-us-section h2 {
  background-color: #fff;
  bottom: 3.5rem;
  margin: 0 auto;
  min-width: 600px;
  padding: 0 3rem;
  position: relative;
  text-align: center;
  width: fit-content;
}

.choose-us-section hr {
  display: none;
}

.choose-us-section .text-container {
  border: 4px solid #000;
  padding-bottom: 5.25rem;
  padding-left: 15.6rem;
  padding-right: 15.6rem;
  padding-top: 1.5rem;
}

.choose-us-section .text-container p:nth-child(3) {
  margin-bottom: 3rem;
}

/* --------------------------------------------------------------------
                              Our services
-------------------------------------------------------------------- */
.our-services-section h2 {
  text-align: center;
  margin-bottom: 6.25rem;
}

.our-services-section .subsection {
  align-items: center;
  gap: 9rem;
}

.our-services-section h3 {
  margin-bottom: 2rem;
}

.our-services-section .text-container {
  width: 50%;
}

.subsection {
  margin-bottom: 7.5rem;
}

.subsection p {
  width: 75%;
}

.subsection .image-container {
  margin-bottom: 0;
  width: 50%;
}

.subsection img {
  box-shadow: 2px 2px 6px #d5d5d5;
  margin-bottom: 0.5rem;
  width: 100%;
}

.subsection figcaption, .subsection a {
  color: #d5d5d5;
  font-size: 0.75rem;
}

.subsection figcaption.caption-right {
  text-align: right;
}

.subsection:nth-child(even) {
  flex-direction: row-reverse;
}

.subsection hr {
  margin-bottom: 2.5rem;
  margin-top: 0;
}

/* --------------------------------------------------------------------
                                Contact us
-------------------------------------------------------------------- */
.contact-us-section {
  margin-bottom: 6.25rem;
}

.contact-us-section h2 {
  min-width: 390px;
  width: 40%;
}

.contact-us-section hr {
  margin-bottom: 0.5rem;
  margin-top: 0;
  width: 100%;
}

.contact-us-section .header-container {
  align-items: center;
  gap: 30px;
  margin-bottom: 2rem;
}

.contact-us-inner-container .text-container {
  width: 35%;
}

.contact-us-section ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-us-section span {
  font-weight: bold;
}

.contact-us-section a {
  color: #000;
}

.contact-us-section .text-container p {
  margin-bottom: 1.25rem;
}

/* Form submission message */
.form-container {
  position: relative;
  width: 55%;
}

/* hide form when a user submits a message so the success message can be displayed */
#contact-us-form.hide {
  /* opacity: 0; */
  display: none;
}

/* show form submit message */
.submit-message.active {
  font-size: 1rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, 50%);
}

/* error message */
.error-message {
  color: red;
  font-size: 0.75rem;
}

.error-message.hide {
  opacity: 0;
}

.contact-us-inner-container form {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.contact-us-inner-container form input, .contact-us-inner-container textarea {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.75rem;
}

.contact-us-inner-container [id="referral"], .contact-us-inner-container [id="form-message"] {
  grid-column-end: 3;
  grid-column-start: 1;
}

.contact-us-section button {
  background-color: #000;
  border: 0px;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  max-width: 240px;
  outline: 1px solid #000;
  padding: 0.6rem 3rem;
  text-decoration: none;
  transition: all 0.2s;
  width: fit-content;
}

.contact-us-section button:hover {
  background-color: #fff;
  color: #000;
}

.contact-us-section button:focus {
  outline: 1px solid #000;
}

/* --------------------------------------------------------------------
                                  Footer
-------------------------------------------------------------------- */
footer {
  border-top: 1px solid #000;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

footer .container {
  align-items: center;
  justify-content: space-between;
}

footer .contact-info {
  gap: 30px;
}

footer span, footer .attribution {
  color: #d5d5d5;
  font-size: 0.75rem;
}

footer a {
  color: #000;
}

/* --------------------------------------------------------------------
                            Media queries
-------------------------------------------------------------------- */
@media screen and (max-width: 1589px) {
  .learn-more {
    top: 3rem;
  }
}

@media screen and (max-width: 1476px) {
  .learn-more {
    top: 0;
  }
}

@media screen and (max-width: 1400px) {
  /* ---------- navbar ---------- */
  nav .container {
    padding: 2rem 4.5rem;
  }

  /* ---------- all section containers ---------- */
  .hero-section .container, .choose-us-section .container, .our-services-section .container, .contact-us-section .container {
    padding: 0rem 4.5rem;
  }

  /* ---------- why choose us ---------- */
  .choose-us-section .text-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  /* ---------- our services section ---------- */
  .our-services-section .subsection {
    gap: 5rem;
  }

  /* ---------- footer ---------- */
  footer .container {
    padding: 0rem 4.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .our-services-section .subsection {
    align-items: start;
  }

  h3 {
    font-size: 40px;
  }

  /* ---------- form ---------- */
  .contact-us-inner-container form {
    grid-gap: 1rem;
  }

  /* ---------- footer ---------- */
  footer p, footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  /* ---------- navbar ---------- */
  nav .container {
    padding: 2rem 3.75rem;
  }

  /* ---------- all section containers ---------- */
  .hero-section .container, .choose-us-section .container, .our-services-section .container, .contact-us-section .container {
    padding: 0rem 3.75rem;
  }

  /* ---------- all h2 ---------- */
  h2 {
    font-size: 3rem;
  }

  /* ---------- hero ---------- */
  .hero-section-inner-container {
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    width: 80%;
  }

  .learn-more {
    position: static;
  }

  /* ---------- why choose us ---------- */
  .choose-us-section h2 {
    min-width: 532px;
  }

  .choose-us-section .text-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  /* ---------- our services ---------- */
  .our-services-section .subsection {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .our-services-section .text-container, .our-services-section .image-container {
    width: 100%;
  }

  .subsection p {
    width: 100%;
  }

  .subsection figcaption.caption-right {
    text-align: left;
  }

  /* ---------- form ---------- */
  .contact-us-section .header-container {
    gap: 0;
  }

  .contact-us-inner-container {
    flex-direction: column;
    gap: 4rem;
  }

  .contact-us-inner-container .text-container, .contact-us-inner-container, .form-container {
    width: 100%;
  }

  .submit-message.active {
    position: static;
    transform: unset;
  }

  /* ---------- footer ---------- */
  footer .container {
    padding: 0rem 3.75rem;
  }
}

@media screen and (max-width: 940px) {
  footer .container {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  /* ---------- navbar ---------- */
  nav .container {
    padding: 2rem 1.25rem;
  }

  /* ---------- all sections ---------- */
  .hero-section, .contact-us-section {
    margin-bottom: 3.75rem;
  }

  .choose-us-section, .our-services-section, .contact-us-section {
    margin-top: 3.75rem;
  }

  /* ---------- all section containers ---------- */
  .hero-section .container, .choose-us-section .container, .our-services-section .container, .contact-us-section .container {
    padding: 0rem 1.25rem;
  }

  /* ---------- all headers ---------- */
  h1 {
    font-size: 3rem;
    width: 80%;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  /* ---------- hero ---------- */
  .hero-section .subheader {
    font-size: 1.5rem;
  }

  .learn-more {
    position: relative;
    top: 6rem;
  }

  /* ---------- why choose us ---------- */
  .choose-us-section h2 {
    bottom: 3rem;
    min-width: unset;
    padding: 0 1.5rem;
  }

  .choose-us-section .text-container {
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .choose-us-section .text-container p:nth-child(2) {
    margin-bottom: 2.5rem;
  }

  /* ---------- our services ---------- */
  .our-services-section h2 {
    margin-bottom: 2rem;
  }

  .our-services-section h3 {
    margin-bottom: 1.25rem;
  }

  .subsection {
    margin-bottom: 5rem;
  }

  /* ---------- form ---------- */
  .contact-us-section h2 {
    min-width: 312px;
  }

  /* ---------- footer ---------- */
  footer .container {
    padding: 0rem 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  /* ---------- navbar ---------- */
  nav .container {
    padding: 1.5rem 1.25rem;
  }

  .business-logo {
    font-size: 2.5rem;
  }

  h1 {
    width: 100%;
  }

  /* ---------- hero ---------- */
  .hero-section .subheader {
    font-size: 1.5rem;
  }

  .learn-more {
    position: relative;
    top: 4rem;
  }

  /* ---------- why choose us ---------- */
  .choose-us-section h2 {
    padding: 0;
    position: static;
  }

  .choose-us-section hr {
    background-color: #000;
    border: none;
    display: block;
    height: 4px;
    margin-bottom: 2rem;
    opacity: 1;
  }

  .choose-us-section .text-container {
    border: none;
    padding: 0;
  }

  .choose-us-section .text-container p:nth-child(3) {
    margin-bottom: 2rem;
  }

  /* ---------- form ---------- */
  .contact-us-section .header-container {
    align-items: start;
    flex-direction: column;
  }

  .contact-us-section h2 {
    min-width: unset;
    width: 100%;
  }

  .contact-us-section hr {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .contact-us-inner-container {
    gap: 2.75rem;
  }

  .contact-us-inner-container form {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-us-inner-container form input, .contact-us-inner-container [id="form-message"] {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  /* ---------- navbar ---------- */
  nav .container {
    align-items: start;
    flex-direction: column;
    gap: 0.75rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  /* ---------- our services ---------- */
  .our-services-section .subsection {
    gap: 1rem;
    margin-bottom: 5rem;
  }

  .subsection hr, .our-services-section h3 {
    margin-bottom: 1rem;
  }

  /* ---------- form ---------- */
  .contact-us-section li, .contact-us-section a, .contact-us-section input {
    font-size: 1rem;
  }

  /* ---------- footer ---------- */
  footer .contact-info {
    align-items: start;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    width: 100%;
  }
}
